
@using MADStore.UI.MVC.Models

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam Fiyat</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (Session["cart"] as MyCart).GetAllCartItem) //Tüm sepet bilgileri sessionda tutuluyor, o yüzden onu döndürdük.
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td><input type="number" id="txtAmount" value="@item.Amount" min="0" onchange="CartUpdate(this.value, @item.ID)" /></td>
                <td>@item.SubTotal</td>
                <td><button class="btn btn-danger"><a href="javascript:void(0)" onclick="DeleteItemCart(@item.ID)">DELETE</a></button></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">TOPLAM SEPET TUTARI</td>
            <td>
                @((Session["cart"] as MyCart).GetAllCartItem.Sum(a => a.SubTotal).ToString("C2"))
            </td>
        </tr>
        <tr>
            <td colspan="5">
                
                <button class="btn btn-warning" style="color: white;">@Html.ActionLink("SEPETİ ONAYLA", "ConfirmCart", "Order")</button>
            </td>
        </tr>
    </tfoot>
</table>